# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/
venv/
ENV/

# IDE specific files
.vscode/
.idea/

# Build artifacts and logs
dist/
build/
*.egg-info/
*.log
d3rlpy_logs/
training_runs/

# Datasets - 体积可能很大，且可以由代码重新生成
# 我们将遵循你的指示，不上传具体的数据文件
data/detection_data/
data/classification_data/
data/policy_data/
# 如果未来有其他数据集，也添加到这里
# data/some_other_data/

# OS specific files
.DS_Store
Thumbs.db

# Temporary files created by our scripts
temp_screenshot.png